@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
}
section{
    background-color: aqua;
    padding: 50px;
    margin: 30px;
    border-radius: 12%;
}
.contenu{
    background-color: rgb(23, 226, 23);
    padding: 30px;
    margin: 4px;
    border-radius: 10%;
    position: relative;
    border: 17vh;
    border-color: rgb(219, 12, 12);
    background-color: green;
}

body{
    background-color: rgb(38, 38, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
    height: 100vh;
    background-image: url(boule.jpg);
    

}
hr{
    padding: 1px;
    margin: 2px;
    background-color: blue;

}
h1{
    padding: 10px;
    display: flex;
    justify-content: center;
    color: aliceblue;
}
.info{
    padding: 6px;
    gap: 40px;
    position: relative;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 20px;
}
.inf1{
    margin: 6px;
    border-radius: 23px;
}
.inf2{
    margin: 6px;
}
.inf3{
    margin: 6px;
}
button{
    padding: 1px 200px;
    margin: 13px;
    border-radius: 25px;
    border-color: black;
    background-color: brown;
    cursor: pointer;
    
}
button:hover{
    color: aquamarine;
}
.remember{
    padding: 6px;
    margin: 8px;
}
p{
    padding: 6px;
    margin: 8px;
    color: antiquewhite;
}
label{
    position: relative;
}
.info input{
    width: 100%;
    padding: 11px;
    border-radius: 25px;
    border-color: black;
    outline: none;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: aliceblue;
    padding-right: 40PX;
}
.info input::placeholder{
    color: aliceblue;
}
img{
    color: aliceblue;
}
